
<%= form_for @post do |f| %>
  <p class="form-title">Create A New Post</p>
  <%= f.label :title %>
<%= f.text_field :title %> <br>
<%= f.label "Post Body"%>
<%= f.text_area :body %> <br>

<div class="field">
  <%= f.label :image %>
  <%= f.file_field :image %>

</div>

<div class="field">
  <%= f.label :file %>
  <%= f.file_field :file %>

</div>

<%= f.submit %>
<% end %>
